body {
  color: rgb(124, 122, 122);
}
a {
  text-decoration: none;
  color: inherit;
}
span {
  display: inline-block;
}
a:hover {
  opacity: 0.7;
}
header {
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  display: flex;
}
.header-logo {
  margin: 10px 0 0 30px;
}
.header-logo img {
  width: 10%;
}
.header-nav-list {
  float: right;
  display: flex;
  align-content: center;
  font-size: 15px;
  color: rgb(194, 184, 184);
  list-style: none;
}
.header-nav-item {
  margin-right: 30px;
}
.main {
  height: 380px;
  width: 100%;
  text-align: center;
  position: relative;
}
.main-font {
  font-family: fantasy;
  font-size: 60px;
  position: absolute;
  top: 15%;
  left: 20%;
  color: palevioletred;
}
.mgr-blue {
  color: aqua;
}
.main-p {
  color: palevioletred;
  width: 50%;
  position: absolute;
  top: 70%;
  left: 17%;
  font-size: 20px;
}
.mainblue {
  color: aqua;
}
.main-p-sub {
  font-size: 10px;
  color: rgb(173, 168, 168);
  width: 50%;
  position: absolute;
  top: 75%;
  left: 15%;
}
.main-photo {
  float: right;
  width: 60%;
}
.main-photo img {
  width: 70%;
  margin-top: 30px;
}
.news {
  width: 60%;
  height: 300px;
  margin-left: 380px;
  padding-top: 80px;
  margin-bottom: 100px;
}
.news-topic {
  font-family: fantasy;
  color: rgb(221, 75, 197);
}
.news-topic-sub {
  font-weight: bold;
  color: rgb(105, 103, 103);
  padding-bottom: 10px;
}
.news-item {
  border-top: 1px solid #ddd;
  padding: 20px 0;
  margin: 10px 0;
  align-items: center;
}

.news-item-date {
  width: 100%;
  font-size: 10px;
}
.news-item-pink {
  border-radius: 6px;
  width: 8%;
  display: inline-block;
  text-align: center;
  background-color: rgb(221, 75, 197);
  color: white;
  font-size: 10px;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.news-border {
  border-top: 3px solid rgb(88, 87, 87);
  border-bottom: 3px solid rgb(88, 87, 87);
}
.about {
  height: 350px;
  background-color: rgb(243, 236, 214);
  margin: 0 auto;
  margin-top: 150px;
}
.about-topic {
  font-family: fantasy;
  color: rgb(221, 75, 197);
  text-align: center;
}
.about-h2 {
  text-align: center;
  font-size: 20px;
  color: rgb(56, 55, 55);
}
.about-container {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 760px;
  margin-top: 60px;
}
.about-topic-sub {
  width: 40%;
  margin-top: 20px;
}
.about-img {
  width: 350px;
  height: 300px;
}
.about-img img {
  width: 100%;
}
.service {
  height: 600px;
  width: 100%;
}
.service-topic {
  padding-top: 50px;
  font-family: fantasy;
  color: rgb(221, 75, 197);
  margin-left: 80px;
}
.service-topic-h2 {
  margin-left: 80px;
}
.card-service {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 200px 200px;
  width: 60%;
  margin: 0 auto;
  padding-top: 50px;
  position: relative;
}
.card-service img {
  width: 100px;
  height: auto;
}
.service-card1 {
  grid-row: 1/3;
  grid-column: 1/2;
  text-align: center;
  background-color: rgb(212, 58, 179);
  color: white;
}
.service-card2 {
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(224, 144, 224);
  color: white;
}
.service-card3 {
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: thistle;
  color: white;
}
.text-box {
  margin-top: 10px;
}
.blog {
  margin: 0 auto;
  background-color: rgba(187, 178, 178, 0.753);
}
.blog-topic {
  padding-top: 30px;
  margin-left: 40px;
  font-family: fantasy;
  color: rgb(221, 75, 197);
}
.blog-topic-h2 {
  margin-bottom: 20px;
  margin-left: 40px;
}
.wrapper {
  display: flex;
  justify-content: center;
}
.blog-card {
  width: 300px;
  height: 270px;
  margin-right: 30px;
  background-color: white;
  border-radius: 7px;
  position: relative;
}
.blog-mark {
  position: absolute;
  top: 0%;
  color: white;
  background-color: rgba(233, 59, 103, 0.685);
  width: 25%;
  height: 10%;
  padding-top: 15px;
  text-align: center;
  border-top-left-radius: 7px;
}
.blog-img {
  width: 30%;
}
.blog-img img {
  width: 300px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}
.blog-date {
  float: left;
}
.blog-TECH {
  float: right;
}
.blog-a {
  margin-top: 25px;
  margin-bottom: 30px;
  padding-top: 10px;
  display: inline-block;
  text-align: center;
  width: 20%;
  height: 30px;
  background-color: white;
  border-radius: 20px;
  border: 2px solid rgb(216, 54, 143);
}
.company-topic {
  padding-top: 40px;
  margin-left: 180px;
  font-family: fantasy;
  color: rgb(221, 75, 197);
}
.company-topic-h2 {
  margin-bottom: 20px;
  margin-left: 180px;
  font-size: 20px;
}
table {
  width: 60%;
  border-collapse: collapse;
  margin-left: 250px;
  margin-bottom: 30px;
}
table th,
table td {
  border: 1px solid #ccc;
  padding: 20px;
}
table th {
  font-weight: bold;
  background-color: #dedede;
}
.detail {
  margin-top: 100px;
  display: flex;
}
.recruitment {
  position: relative;
  width: 50%;
}
.recruitment-topic {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 40%;
}
.interview {
  width: 50%;
  position: relative;
}
.interview-topic {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 30%;
}
.ending {
  margin-top: 30px;
  text-align: center;
}
.ending-line {
  display: inline-block;
  margin-left: 150px;
  margin-top: 10px;
  margin-bottom: 50px;
  width: 3px;
  height: 40px;
  background-color: rgb(219, 100, 209);
}
.ending a {
  display: inline-block;
  background: -moz-linear-gradient(right, #b4458a, rgba(233, 112, 182, 0.89));
  background: -webkit-linear-gradient(
    right,
    #b4458a,
    rgba(233, 112, 182, 0.89)
  );
  background: linear-gradient(to left, #b4458a, rgba(233, 112, 182, 0.89));
  border-radius: 30px;
  padding: 20px 20px;
  margin-left: -90px;
  box-shadow: 0px 8px #943a6f;
}
.my-white {
  color: white;
}
.btn-gradient span {
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}
.copyright {
  text-align: center;
  height: 30px;
  padding-top: 10px;
  margin-top: 70px;
  background-color: rgb(194, 187, 187);
}
